*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    height: auto;
}
.dp-btn {
    display: flex;
    width: 100%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.dp-content {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 100%;
    min-width: 160px;
    background-color: #333;
    border-radius: 0 0 6px 6px;
}
.dp-content a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    justify-content: center;
    align-items: flex-start;
}
.dp-content a:last-child {
    border-radius: 0 0 6px 6px;
}
.dp-content a:hover {
    background-color: #b5b5b5;
    color: black
}
.dropdown:hover .dp-btn {
    color: #000;
    background-color: #fff;
    border-radius: 6px 6px 0 0;
}
.dropdown:hover .dp-content {
    display: block;
}



/* .dp-content a:hover {
    background-color: #b5b5b5;
    color: black
}
.dropdown:hover .dp-btn {
    color: #000;
    background-color: #fff;
    border-radius: 6px 6px 0 0;
} */



